<!DOCTYPE html>
<html>
<body>
    <h1>Add Transaction</h1>

    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="{{ form.type.id_for_label }}">Transaction Type:</label>
            {{ form.type }}
            {{ form.type.errors }}
        </div>

        <div>
            <label for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
            {{ form.date.errors }}
        </div>
    
        <div>
            <label for="{{ form.amount.id_for_label }}">Amount:</label>
            {{ form.amount }}
            {{ form.amount.errors }}
        </div>
    
        <div>
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
            {{ form.description.errors }}
        </div>
    
        <div>
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
            {{ form.category.errors }}
        </div>
    
        <button type="submit">Save</button>
    </form>

    <a href="{% url 'add_category' %}">Create a New Category</a> 
    <a href="{% url 'transaction_list' %}">Back to Transactions</a>
</body>
</html>
